@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Dancing+Script&family=Nanum+Myeongjo&family=Permanent+Marker&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Be Vietnam Pro", sans-serif;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

#wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  /* background-image: linear-gradient(orange ,white,green); */
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

.logo-container {
  display: flex;
  justify-content: baseline;
  align-items: center;
}

.logo {
  width: 60px;
  filter: drop-shadow( -1px -2px  rgb(0, 0, 0));

}

.logotext {
  margin-top: 2rem;
  font-size: 28px;
    filter: drop-shadow(-1px -0.5px  rgb(0, 0, 0));

}

.navitem {
  display: flex;
  gap: 2rem;
  padding: 0 4rem;
}

.navitem div a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  scroll-behavior: smooth;
  filter: drop-shadow(-3px -0.5px  rgb(0, 0, 0));

}

.navitem div :hover {
  font-weight: bold;
  transform: scale(1.03);
  color: rgb(7, 141, 92);
  transition: all 0.2s ease-in-out;
}

.hero-section {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;

  margin: 4rem auto;
  padding: 0 1rem;
  padding-bottom: 8rem;
  gap: 5rem;
}

.faded-text {
  font-size: 5em;
  user-select: none;
  color: rgb(41, 55, 78);
  font-weight: bold;
  transition: all 3s;
  bottom: 13%;
  left: -5%;
  position: absolute;
  filter: drop-shadow(-3px -0.5px  rgb(0, 0, 0));

}

.hero-section-left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hero-section-heading {
  font-size: 35px;
  font-weight: 500;
  color: #ced3d6;
  filter: drop-shadow(-3px -0.5px  rgb(0, 0, 0));

}

.role {
  /* color: #2c3069; */
  color: rgb(41, 120, 87);
  color: rgb(25, 119, 53);
}

.her-section-subheading {
  font-size: 45px;
  line-height: 45px;
}

.hero-section-description {
  margin-top: 1rem;
  width: 70%;
  font-weight: 500;
  color: #f9f9f9;
  filter: drop-shadow(-3px -0.5px  rgb(0, 0, 0));

}

.btn {
  background-color: rgb(0, 0, 0);
  padding: 0.8rem 2.3rem;
  color: white;
  font-size: 18px;
  position: relative;
  cursor: pointer;
  z-index: 1;
  box-shadow: 2px 2px 10px black;
  border-radius: 2px;
  text-align: center;
  width: 180px;
}

.btn::before {
  content: "";
  background-image: linear-gradient(to bottom right,
      rgb(255, 0, 0),
      rgb(0, 0, 0));
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.8s;
  z-index: -1;
}

.btn:hover::before {
  transform: scaleX(1);
}

.hero-section-right {
  position: relative;
}

.absolute {
  position: absolute;
}

.user-image {
  padding: 2.5rem;
  filter: grayscale(0);
  transition: all 1s;
  animation: scaleImage 5s linear infinite;
  border: 2px solid rgb(27, 209, 255);
  border: 5px solid rgb(45, 187, 168);
  border-radius: 8px;
  filter: drop-shadow(-5px -5px  rgb(0, 0, 0));

}

.user-image img {
  z-index: -1;
  height: 350px;
  width: 345px;
  object-fit: cover;
  object-fit: contain;
  box-shadow: 30px 30px 11000px rgb(45, 185, 195);
  /* filter: drop-shadow(-3px -0.5px  rgb(95, 13, 13)); */

}

#btn-1 a {
  color: white;
  text-decoration: none;
}

.project-section {
  /* background-color: rgb(231, 231, 231); */
  background-color: rgb(30, 41, 59);
  margin-top: 4rem;
}

.project-header {
  color: orangered;
  font-size: 70px;
  text-align: center;
  padding-top: 30px;
  filter: drop-shadow(-3px -0.5px  rgb(0, 0, 0));

}

.project-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.project-card {
  width: 90%;
  height: 550px;
  background-image: url(./images/projects/Project1.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 10px;
  box-shadow: -5px -5px 5px rgb(0, 0, 0);
}

.project-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #5d595979;
  /* for tint purpose*/
  transform: scale(1);
  z-index: 0;
}

.project-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: linear-gradient(#343d68, #343d68ae, #343d687c); */
  background: linear-gradient(#9270531f, #4c78a6ae, #4c51b87c);
  transform: scaleX(0);
  /*opacity is not used coz we want color will show in a sliding way*/
  transform-origin: left;
  transition: all 0.4s;
  z-index: 1;
}

.project-card:hover::before {
  transform: scaleX(1);
}

.project-number {
  position: absolute;
  font-size: 200px;
  font-weight: 600;
  color: white;
  z-index: 1;
  display: none;
  filter: drop-shadow(-3px -0.5px  rgb(0, 0, 0));

}

.project-card:hover .project-number {
  display: block;
}

.project-number-right {
  right: -45px;
  top: -45px;
}

.project-number-left {
  left: -40px;
  top: -45px;
}

.project-content {
  position: absolute;
  display: flex;
  flex-direction: wrap;
  flex-direction: column;
  color: white;
  padding: 2em;
  bottom: 20%;
  z-index: 1;
  gap: 1em;
  transition: all 0.4s;
  filter: drop-shadow(-3px -0.5px  rgb(0, 0, 0));

}

.project-card:hover .project-content {
  transform: scale(1.05);
}

.project-content-left {
  left: 10%;
}

.project-content-right {
  right: -30%;
}

.project-skill-container {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  gap: 10px;
}

.project-skill {
  width: 40px;
}

.project-heading {
  font-size: 50px;
  font-weight: bold;
  line-height: 3rem;
}

.project-subheading {
  width: 70%;
  font-size: 16px;
  font-style: italic;
}

.btn-grp {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.icon {
  cursor: pointer;
  color: white;
  font-size: 25px;
  transition: all 0.5s;
}

.icon:hover {
  color: orangered;
}

#project1 {
  background-image: url(./images/projects/1.png);
}

#project2 {
  margin-left: 120px;
  background-image: url(./images/projects/2.png);
}

#project3 {
  background-image: url(./images/projects/3.png);
}

#project4 {
  margin-left: 120px;
  background-image: url(./images/projects/2.png);
}

@media (min-width: 643px) and (max-width: 1322px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
  }

  .faded-text {
    font-size: 3em;
    user-select: none;
    color: rgb(41, 55, 78);
    font-weight: bold;
    transition: all 3s;
    bottom: -5%;
    left: 20%;
    position: absolute;
  }

  .hero-section {
    display: flex;
    flex-direction: column;
    flex: wrap;
  }

  .hero-section-left {
    margin-left: 100px;
  }

  .navitem {
    margin-top: 12px;
  }
}

@media (max-width: 643px) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    /* padding: 2px; */
  }

  .hero-section {
    display: flex;
    flex-direction: column;
    flex: wrap;
  }

  .faded-text {
    font-size: 3em;
    user-select: none;
    color: rgb(241, 240, 240);
    font-weight: bold;
    transition: all 3s;
    bottom: -1%;
    left: 25%;
    position: absolute;
  }

  .navitem {
    display: flex;
    gap: 2rem;
    padding: 12px 2rem;
  }

  .hero-section-left {
    margin-left: 45px;
  }

  .user-image {
    padding: 1.2rem;
  }
}

@media (max-width: 740px){
  .user-image {
    padding: 2.5rem;
    filter: grayscale(0);
    transition: all 1s;
    animation: scaleImage 5s linear infinite;
    border: 2px solid rgb(27, 209, 255);
    border: 5px solid rgb(45, 187, 168);
    border-radius: 8px;
    filter: drop-shadow(-5px -5px  rgb(0, 0, 0));
  
  }
  
  .user-image img {
    z-index: -1;
    height: 260px;
    width: 240px;
    object-fit: cover;
    object-fit: contain;
    box-shadow: 30px 30px 11000px rgb(45, 185, 195);
    /* filter: drop-shadow(-3px -0.5px  rgb(95, 13, 13)); */
  
  }

}
@media (max-width: 740px){
  .user-image {
    padding: 2.5rem;
    filter: grayscale(0);
    transition: all 1s;
    animation: scaleImage 5s linear infinite;
    border: 2px solid rgb(27, 209, 255);
    border: 5px solid rgb(45, 187, 168);
    border-radius: 8px;
    filter: drop-shadow(-5px -5px  rgb(0, 0, 0));

  
  }
  
  .user-image img {
    z-index: -1;
    height: 140px;
    width: 150px;
    object-fit: cover;
    object-fit: contain;
    box-shadow: 30px 30px 11000px rgb(45, 185, 195);
    /* filter: drop-shadow(-3px -0.5px  rgb(95, 13, 13)); */
  
  }

}

@media (max-width: 1300px) {
  .project-header {
    padding-top: 30px;
    color: orangered;
    text-align: center;
    font-size: 40px;
  }

  .project-container {
    padding: 5px;
    margin: 10px;
    gap: 60px;
  }

  .project-card {
    width: 100%;
    height: 300px;
  }

  .project-card {
    background-size: cover;
    background-position: center;
  }

  .project-content {
    scale: 0.5;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
  }

  .project-content-left {
    left: 0;
  }

  .project-heading {
    font-size: 40px;
    width: 100%;
  }

  .project-sub-heading {
    width: 100%;
  }

  #project2 {
    margin-left: 0;
  }

  #project4 {
    margin-left: 0;
  }

  .project-skill-container {
    width: 100%;
  }

  .project-skill {
    width: 35px;
  }

  .project-card:hover .project-number {
    display: none;
  }

  .project-card:hover .project-content {
    scale: 0.55;
  }
}

.skill-container {
  position: relative;
  display: flex;
  padding: 5rem;
  margin: 10rem auto;
  box-sizing: content-box;
}

.skill-container-left {
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 2rem;
}

.skill-container-right {
  display: flex;
  width: 50%;
  /* flex-direction: column; */
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  gap: 2rem;
  /* height: 50%; */
}

.skill-faded-text {
  user-select: none;
  font-size: 15em;
  font-style: bold;
  bottom: -38.5%;
  right: -4%;
  position: absolute;
  color: #4c9191;
  filter: drop-shadow(-3px -0.5px  rgb(0, 0, 0));

}

.blob-style {
  position: absolute;
  top: 50%;
  left: 50%;
  /* right: 50%; */
  animation: blobe 3s linear infinite;
  transform: translate(-50%, -50%);
  z-index: -1;
  /* filter: invert(-1); */
}

@media(max-width: 1343px) {
  .skill-faded-text {
    user-select: none;
    font-size: 10em;
    font-style: bold;
    bottom: -11.5%;
    right: 50%;
    left: 3%;
    position: absolute;
    color: #33485a;
  }
}

@keyframes blobe {
  50% {
    top: 54%;
    left: 56%;
  }
}

.skills-logo {
  width: 70px;
  transition: all 0.5s;
  filter: drop-shadow(-3px -4px  rgb(0, 0, 0));

}

.skills-logo:hover {
  transform: scale(1.3);
}

.skill-heading {
  color: rgb(252, 247, 247);
  font-size: 40px;
  font-style: bold;
  line-height: 40px;
  /* font-family: 'Permanent Marker', cursive; */
  filter: drop-shadow(-3px -0.5px  rgb(0, 0, 0));

}

.caps {
  font-size: 140px;
  font-family: 'Permanent Marker', cursive;
}

.skill-subheading {
  margin: top 1rem;
  width: 85%;
  text-align: justify;
  color: #882929;

}
@media (max-width: 1300px){
  .skill-subheading {
    margin: top 1rem;
    width: 65%;
    text-align: justify;
    color: #882929;
  
  }
}
.skill-subheading p {
  margin: 15px 0;
  font-family: "Baloo Bhaijaan 2", cursive;
  /* font-size: 20px; */
  font-family: 'Nanum Myeongjo', serif;
  color: rgb(0, 251, 255);
  
  /* filter: blur(0px); */
  filter: drop-shadow(-3px -0.5px  rgb(0, 0, 0));

}

.contact-section {
  /* background: linear-gradient(to bottom, white, rgb(55, 54, 54)); */
  background-color: rgb(30 41 59);
  width: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.contact-heading {
  font-size: 50px;
  font-style: bold;
  padding: 2rem;
  filter: drop-shadow(-3px -0.5px  rgb(0, 0, 0));
  color: white;

}
@media (max-width: 1300px){
  .contact-heading {
    font-size: 50px;
    margin-top: 100px;
    font-style: bold;
    padding: 2rem;
    filter: drop-shadow(-3px -0.5px  rgb(0, 0, 0));
    color: rgb(61, 102, 148);
  
  }
}
.contact-subheading {
  color: rgb(193, 243, 243);
  text-transform: capitalize;
  font-size: 20px;
  filter: drop-shadow(-3px -0.5px  rgb(0, 0, 0));

}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
  margin: 2rem 5rem;
}

.formfield-container {
  width: 100%;
}

.formfield {
  width: 100%;
  height: 40px;
  padding: 0 2rem;
  font-size: 15px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px black;
  margin: 10px;
}

.textarea {
  height: auto;
  width: 100%;
  padding-top: 1rem;
  border-radius: 10px;
  position: relative;
  left: 10px;
  border: 2px solid rgb(34, 33, 33);
  
}

#name,
#email,
#subject,
#message {
  color: rgb(135, 143, 152);
  box-shadow: -5px -5px rgb(0, 0, 0);
}

#submit-btn {
  border: none;
  font-size: 1rem;
  margin: 0 auto;
  width: 24%;


}

footer {
  position: relative;
  margin-top: 0px;
  /* background-color: #3b3b3b; */
  /* background-image: linear-gradient(rgb(60, 60, 60),rgb(159, 157, 157)
  ); */
  background-color: rgb(30 41 59);
  padding: 5rem;

}

.footer-wrapper {
  display: flex;
  gap: 1rem;
  padding-block-end: 1.2rem;
  justify-content: space-between;
  align-items: center;
}

.footer-faded-text {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #ffffff0e;
  user-select: none;
  font-size: 4em;
  filter: drop-shadow(-3px -0.5px  rgb(0, 0, 0));

  /* z-index: -1; */
}

.links {
  display: flex;
  gap: 1.2rem;
}

.links div a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
  margin: auto;
  transition: all 0.6s ease-in-out;
  filter: drop-shadow(-3px -0.5px  rgb(0, 0, 0));

}

.links div a:hover {
  color: orangered;
  /* font-family: "Baloo Bhaijaan 2", cursive; */

}

.icon-wrapper {
  display: flex;
  gap: 25px;
  filter: drop-shadow(-3px -0.5px  rgb(0, 0, 0));


}
@media (max-width: 643px){
  .links div a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 200;
    padding: 0px;
    margin: auto;
    transition: all 0.6s ease-in-out;
    filter: drop-shadow(-3px -0.5px  rgb(0, 0, 0));
  
  }
  .icon-wrapper i{
    width: 5px;
    margin: 3px;
  }
}
@media (max-width: 653px){
  .links div a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 10px;
    font-weight: 200;
    padding: 0px;
    margin: auto;
    transition: all 0.6s ease-in-out;
    filter: drop-shadow(-3px -0.5px  rgb(0, 0, 0));
  
  }
  .icon-wrapper i{
    width: 3px;
    margin: 1px;
  }
}

h4 {
  padding: 2rem;
}

@media(max-width:1340px) {
  #submit-btn {
    border: none;
    font-size: 0.6rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.formfield,
.textarea {
  box-shadow: inset 1px 1px 10px rgb(0, 0, 0);
  background-color: rgb(34, 41, 57);
  display: flex;
  align-items: center;
  justify-content: center;
}

.textarea::placeholder {
  text-align: center;
  
}